//Color
$color_primary: #55c57a;
$color_primary_light: #7ed56f;
$color_primary_dark: #28b485;

$color_gray_light_1: #f7f7f7;
$color_gray_dark: #777;
$color_gray_dark_2: #999;
$color_white: #fff;
$color-black: #000;

$color_secondary_light: #ffb900; 
$color_secondary_dark: #ff7730; 

$color_teritory_light: #2998ff; 
$color_teritory_dark: #5643fa; 

$default_font_size: 1.6rem;

//Grid
$grid_width: 114rem;
$gutter_vertical: 8rem;
$gutter_horizontal: 6rem;